@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,600&display=swap');

.h1 {
  font-family: $primaryFont;
  font-size: 26px;
  font-weight: $font-semibold;
  text-transform: uppercase;
}

.h2 {
  font-size: 14px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.h3 {
  font-size: 12px;
  font-weight: $font-bold;
  text-transform: uppercase;
}