// Fonts

$primaryFont: 'Source Sans Pro', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

// Colors
$primaryColor: #bea67C;
$color-light: #fff;
$color-dark: #000;

// Position

$translate: translate(-50%, -50%);