// Header

.header-container {
  position: relative;
  width: 100%;
  height: 775px;
  background-size: auto;
  overflow: hidden;
  z-index: 1;

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    background-image: url('../../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transform: scale(1.2);
  }
}

.logo {
  position: absolute;
  // width: 300px;
  height: 15px;
  color: $color-light;
  text-transform: uppercase;
  top: 25%;
  left: 12%;

  h2 {
    font-size: 28px;
    font-weight: $font-bold;
    letter-spacing: 8px;
    margin-bottom: 6px;
  }

  h6 {
    font-size: 12px;
    font-weight: $font-bold;
    letter-spacing: 4px;
  }
}

// Navbar menu

.nav-wrapper {
  a {
    font-size: 15px;
    font-weight: $font-semibold;
    color: darken($color-light, 45%);
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
    letter-spacing: 0.5px;
  }
}

// Title

.title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  .title-one {
    height: 30px;
    font-size: 77px;
    padding: 86px 0 26px 85px;
    letter-spacing: 16px;
  }

  .title-two {
    height: 30px;
    font-size: 77px;
    padding: 0 0 0 230px;
    letter-spacing: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 56%;
    left: 48.8%;
    transform: $translate;
    width: 228px;
    height: 5px;
    background-color: $primaryColor;
  }
}

.icon-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color-light;
  padding-top: 260px;

  .icon-title {
    font-size: 25px;
    width: 180px;
    height: 25px;
    padding-left: 20px;
    margin-bottom: 15px;
  }

  .icon-arrow-down {
    font-size: 36px;
  }
}

.footer {
  height: 60px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.38px;
  color: $color-dark;
}