// Products

.products-wrapper {
    position: relative;
    height: 3800px;

    .products-title {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 55px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 7.5%;
            left: 50%;
            transform: $translate;
            width: 540px;
            height: 5px;
            background-color: $primaryColor;
        }
    }
}